FILE_PROTOCOL=ftp
SFTP_HOST=
SFTP_PORT=
SFTP_USER=
SFTP_PASSWORD=
FTP_HOST=192.168.xx.xx
FTP_PORT=21
FTP_USER=xxx
FTP_PASSWORD=xxx
# Optional private key path, example: C:/Users/me/.ssh/id_rsa
SFTP_KEY_FILE=
# Optional key passphrase
SFTP_KEY_PASSPHRASE=
# Optional default remote root
SFTP_REMOTE_ROOT=/
FTP_REMOTE_ROOT=
REMOTE_ROOT=/
